/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body, #root {
    height: 100%;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../Assets/lifelog-background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 5px;
    height: 100px;
    padding: 10px 5px;
    box-sizing: border-box;
}

.logo-container {
    height: 90px;
}

.logo {
    display: flex;
    height: 100%;
    width: 100%;
}

.header-contents-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 40px;
}

.page-link-container, .user-management-container {
    display: flex;
    flex-direction: row;
}

.page-link-container {
    gap: 10%;
    align-items: center;
}

.user-management-container {
    gap: 3%;
    justify-content: right;
    align-items: center;
}

.setting-container, .user-setting-container {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-container>img, .user-setting-container>img {
    display: flex;
    height: 60%;
    width: 60%;
}

.logout-container {
    padding: 5px;
    background-color: rgb(255, 190, 190);
    border-radius: 4px;
}

.logout-container:hover {
    cursor: pointer;
}

.logout-container > h2 {
    color: rgb(255, 98, 98);
    
}

main {
    height: 100%;
    padding: 20px 40px;
}

.user-form-container {
    height: 90%;
    width: 90%;
    background-color: white;

    padding: 20px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr;
}

.user-form-container>h1 {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
}

.category-container {
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.category-container>h2 {
    font-weight: 600;
}

.category-container>input {
    height: 50%;
    border-radius: 5px;
    border-width: 1px;
}

.submit-button-container {
    height: 100%;
}


.submit-button-container>button {
    height: 80%;
    width: 160px;
    border: none;
    border-radius: 10px;
    background-color: #FFE9CD;
    font-weight: 600;
}

.submit-button-container>button:hover {
    background-color: #ffce8f;
    cursor: pointer;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: orange;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

